# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [ ]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [3]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
a[3:]

[4, 5, 6]

In [5]:
# create a list of numbers from 1 to 20
sample_list = list(range(1, 21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [7]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
sample_list = list(range(2, 101, 2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second

In [ ]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

In [ ]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10

In [ ]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial

In [ ]:
# select all rows with more than and including 400 calories

In [ ]:
# select all rows whose vitamin c content is higher than the iron content

In [ ]:
# create a new column containing the caffeine per calories of each drink

In [ ]:
# what is the average calorie across all items?

In [ ]:
# how many different categories of beverages are there?

In [ ]:
# what is the average # calories for each beverage category?